---
export const prerender = false;
import CalculadoraTarifa from "./CalculadoraTarifa.astro";
import GetIcon from "./Icons/GetIcon.astro";
import TarifaCard from "./TarifaCard.astro";

console.log('Llega log!!');
console.error('Llega error!!');
const url = new URL(Astro.request.url);
const dominio = url.origin;
console.log(dominio);
const tarifas = await fetch(`${dominio}/api/tarifas`, { method: 'GET' }).then((res) =>{ console.log(res); return res.json() });

const diurna = Object.entries(tarifas.diurna);
const nocturna = Object.entries(tarifas.nocturna);

const formatDate = (fecha: Date) => new Intl.DateTimeFormat('es-ES', {
  timeZone: 'Europe/Madrid',
  dateStyle: 'medium',
}).format(fecha);
---

<section id="Tarifas" class="container min-h-[calc(70vh)] pt-24">
  <h3 class="text-4xl font-bold text-center dark:text-white">Tarifas</h3>
  <p class="text-center text-base text-neutral-700/70 dark:text-neutral-200/80">
    Tarifas de transporte interurbano publicadas por el gobierno de Navarra.
  </p>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-16 justify-items-center"
  >
    {
      diurna.map((t) => (
        <TarifaCard nombre={t[0]} cantidad={Number(t[1])} tipo="diurna" />
      ))
    }
    {
      nocturna.map((t) => (
        <TarifaCard nombre={t[0]} cantidad={Number(t[1])} tipo="nocturna + festivos" />
      ))
    }
  </div>
  <p class="mt-3 text-center text-sm text-neutral-700/70 dark:text-neutral-200/80">
    Última actualización: {formatDate(new Date(tarifas.date))}
  </p>
  <CalculadoraTarifa />
  <aside
    class="flex flex-col mt-16 gap-6 p-4 h-56 justify-center items-center rounded-lg bg-gradient-to-r from-blue-500 to-sky-500"
  >
    <h3 class="font-bold text-2xl md:text-4xl text-center text-white">
      ¡También puedes usar la calculadora de viajes!
    </h3>
    <a
      href="./calculadora_viajes"
      class="group rounded-md border-white border-2 px-8 py-4 relative"
    >
      <div
        class="absolute h-full top-0 left-0 w-0 group-hover:w-full bg-white transition-all duration-500"
      >
      </div>
      <span
        class="relative text-white group-hover:text-sky-500 text-xl transition-all duration-500 flex flex-row gap-3 justify-center items-center"
        >
        <GetIcon icon="Calculadora" />
        Ir a la calculadora
      </span>
    </a>
  </aside>
</section>
